{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <div style="text-align: center;">
    <form method="POST">
        {% csrf_token %}
        <label for="edit_page" style="display: block;margin-bottom: 10px;font-size:30px; text-align: left;">Edit Page</label>
        <h1 style="text-align: left;font-size: x-large;">Title</h1>
        <div style="text-align: left;"><textarea id="edit_page_t" name="edit_page_title" style="resize: none;height: 30px;">{{ tit }}</textarea></div>
        <h1 style="text-align: left;font-size: x-large;">Content</h1>
        <div style="text-align: left;"><textarea id="edit_page" name="edit_data_page" style="height: 400px;">{{ para }}</textarea></div>
        <input type="submit" value="Submit">
    </form>
    </div>
{% endblock %}